@charset "Utf-8";
main{
    width:100%;
    max-width: 880px;
    margin:auto;
    background-color:white;
    display: grid;
    
    grid-template-areas:
        "h h h h h h"
        "n a a a d d"
        "f f f f f f";
}

header{
    grid-area:h;
}
nav{
    grid-area:n;
}
article{
    grid-area:a;
}
aside{
    grid-area:d;
}
footer{
    grid-area:f;
}
header{
    background-color:orange;
    border: 1px solid grey;
    margin:5px;
}
nav{
    background-color:#00cc66;
    border: 1px solid grey;
    margin:5px;
}
article{
    background-color:#ffcc33;
    border: 1px solid grey;
    margin:5px;
}
aside{
    background-color:blue;
    border: 1px solid grey;
    margin:5px;
}
footer{
    background-color:#ff9999;
    border: 1px solid grey;
    margin:5px;
    padding:1px
}